<h2>Welcome to PizzaShop</h2>

<div class="row">

  <% @products.each do |p| %>
    <div class="col-md-3">
      <div>
        <%= p.title %>
      </div>

      <div>
        <img src="<%= p.path_to_image %>" width="255" height="189">
      </div>

      <div>
        <%= p.discription %>
      </div>

      <div>
        Size: <%= p.prise %> см
      </div>

      <div>
        Prise: <%= p.prise %> rub
      </div>
    </div>
  <% end %>

</div>
</br>
<batton class="btn btn-primary" onClick="something()">Click me</batton>

